; EditorConfig is awesome: http://EditorConfig.org

; NOTE: `;vim:` designate special comments for vim

root = true  ; top-most EditorConfig file

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

[*.{js,jsx,ts,tsx,json}]
; Javascript interpreter to be invoked by default 'node'
;bin=node
indent_size = 2

[*.css]

[*.html]
; ;vim:max_char=99:brace_style=expand

[*.py]

[Makefile]
indent_style = tab
