"
" Enable emulated plugins
"

packadd matchit

Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'vim-scripts/ReplaceWithRegister'
Plug 'tommcdo/vim-exchange'
Plug 'vim-scripts/argtextobj.vim'
Plug 'michaeljsmith/vim-indent-object'
Plug 'Plug 'kana/vim-textobj-entire'
Plug 'machakann/vim-highlightedyank'

Plug 'easymotion/vim-easymotion'
" To emulate vim-sneak. This is better than with vim-easymotion because you
" can keep typing characters.
nmap - <Plug>(easymotion-s2)

Plug 'terryma/vim-multiple-cursors'
" These mappings are to match vim-surround in vim and bbecause of conflict with the Mac
"   option key which prints out unicode chars.
"   Unfortunately,$ we lose the ability to do ^N and ^P in insert mode for cyclical word search
"   (which we would assign to IDE in "Vim Emulation" settings)
map <C-N> <A-N>
map <C-P> <A-P>
map <C-X> <A-X>
map g<C-N> g<A-N>

"
" Enable IdeaVim-specific features
"

" https://github.com/JetBrains/ideavim/wiki/%60ideajoin%60-examples
" TODO: wait until it matures; doesn't work except for maybe `comments`.
"   I think it's designed for Java and Kotlin
"set ideajoin

"
" Key mappings
"

" for  with backticks to Markdown-style commands in comments.
" NOTE: in some contexts IntelliJ will add matching backtick, so we only insert one
nnoremap <Leader>` ciw`<C-R>-`<Esc>

" For formatting, especially comments
" Depends on https://plugins.jetbrains.com/plugin/7234-wrap-to-column/
vnoremap gq :action com.andrewbrookins.idea.wrap.WrapAction<CR>

" For "repetitive" `pasting` of the `same` text
nnoremap Q ']gpk

" Enable relative numbers
" source: https://youtrack.jetbrains.com/issue/VIM-410
set number relativenumber
augroup numbertoggle
    autocmd!
    autocmd BufEnter,FocusGained,InsertLeave * set number relativenumber
    autocmd BufLeave,FocusLost,InsertEnter   * set nonumber norelativenumber
augroup END
